/*
File:	 custom.css
Description:	Custom styles for your theme
To properly utilize custom.css you will have to mention a CSS class and it's new properties/values. For 
instructions open the following article:
PS: Don't forget to activate custom.css in your theme settings area
ADD YOUR CODE AFTER THIS ENDING COMMENT TAG -----------> 
*/ 